@model demoSys.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<h2>Details</h2>
 
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.opt_time1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt_time1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt_time2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt_time2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt_time3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt_time3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt_time4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt_time4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt1_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt1_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt2_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt2_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt3_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt3_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opt4_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opt4_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
